#header1 {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border: 10px solid #333;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    width: 50%;
    border: 5px;
}